<footer>
    <a href="#"><div class="link-top" title="Catre top-ul paginii"></div></a>
    <address>
        Telefon: <a href="tel:0735-998-673">0735998673</a><br>
        Adresa: Bulevardul Iuliu Maniu nr. 7, București 061072<br>
        E-mail: <a href="mailto:info_mobileshop@yahoo.com">info_mobileshop@yahoo.com</a>
    </address>
    <small>Copyright &copy; <time datetime="2021-10-10">2021</time> Preda Alexandru-Florin</small> 
</footer>