<!DOCTYPE html>
<html lang="ro">

	<head>
        <meta name="description" content="Error!"> 
		<title>Error 403</title>
        <%- include("../fragmente/head.ejs") %>
	</head>
	
	<body>
		<%- include("../fragmente/header.ejs") %>
		<main>
            <h2>ERROR 403!! Nu cred ca ai voie aici</h2>
			<img src = "resurse/img/403.jpg" alt = "Error 403" style="width:20%;height:20%;">
		</main>
    <%- include("../fragmente/footer.ejs") %>
	</body>
</html> 