<!DOCTYPE html>
<html lang="ro">

	<head>
        <meta name="keywords" content="telefon, telefoane, gsm, service, AxP">
		<meta name="description" content="Got it!"> 
		<title>Magazin de telefoane si gsm - Home</title>
        <%- include("../fragmente/head.ejs") %>
	</head>
	
	<body>
		<main>
            <%- include("../fragmente/header.ejs") %>
            <h2>Pagina nr 2</h2>
		</main>
    <%- include("../fragmente/footer.ejs") %>
	</body>
</html> 