<!DOCTYPE html>
<html lang="ro">

	<head>
        <meta name="keywords" content="telefon, telefoane, gsm, service, AxP">
		<meta name="description" content="Got it!"> 
		<title>Magazin de telefoane si gsm - Home</title>
        <%- include("../fragmente/head.ejs") %>
	</head>
	
	<body>
		<%- include("../fragmente/header.ejs") %>
		<main>
            <section id="FAQ">
				<h2>
					Intrebari frecvente:
				</h2>
				<details>
					<summary>Unde se afla magazinul?</summary>
					<p> Magazinul se afla pe Bulevardul Iuliu Maniu nr. 7, București 061072</p>
				</details>

				<details>
					<summary>Ce telefoane reparati?</summary>
					<p>Reparam orice tip de telefon gasit pe piata!</p>
				</details>

				<details>
					<summary>Programul de lucru?</summary>
					<p>
						Luni-Vineri:09-19<br>
						Sambata-Duminica:09-13<br>
					</p>
				</details>
			</section>
		</main>
    <%- include("../fragmente/footer.ejs") %>
	</body>
</html> 