<footer>
    <script type="text/javascript" src=/resurse/js/dark.js></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <button class="btn" onclick="toggle()"><i class="fa fa-lightbulb-o"></i></button>

    <a href="#"><div class="link-top" title="Catre top-ul paginii"></div></a>
    <address>
        Telefon: <a href="tel:0735-998-673">0735998673</a><br>
        Adresa: Bulevardul Iuliu Maniu nr. 7, București 061072<br>
        E-mail: <a href="mailto:info_mobileshop@yahoo.com">info_mobileshop@yahoo.com</a>
    </address>
    <small>Copyright &copy; <time datetime="2021-10-10">2021</time> Preda Alexandru-Florin</small> 
</footer>