<header>
    <nav class = "nav1">
        <input id ="toggle1" type="checkbox"/>
        <label class="hamburger1" for="toggle1">
            <div class="top"></div>
            <div class="meat"></div>
            <div class="bottom"></div>
        </label>

        <nav id ="nav2" class="menu1">
            <ul class="ul-burger1">
                <li><a href="/index" class="button hvr-sweep-to-left"><i class="fa fa-home"></i>logoul magazinului</a></li>

                <li><a href="#" class="button hvr-sweep-to-left">search bar</a></li>

                <li><a href="/contact_gsm" class="button hvr-sweep-to-left">contact service gsm</a></li>
                
                <li><a href="/FAQ" class="button hvr-sweep-to-left">FAQ</a></li>
                <li><a href="#" class="button hvr-sweep-to-left">cos de cumparaturi</a></li>

                <li class="dropdown">
                    <a href="/produse" class="button">Produse</a>
                    <div class="dropdown-content">
                    <a href="/produse?tip=Samsung">Samsung</a>
                    <a href="/produse?tip=Apple">Apple</a>
                    <a href="/produse?tip=Huawei">Huawei</a>
                    </div>
                </li>
            </ul>
        </nav>
    </nav>
</header>